
h1  {
    color: #009;
    font-size: 5em;
    margin-bottom: .3em;
    text-align: center;
    text-decoration: underline;
}
  
h2 {
    color:orange;
    font-size: 2em;
    margin-bottom: .1em;
    text-align: left;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}



#duringParagraph {
    background-color: gray;
}

.during-paragraph {
    color: pink;
}